.card {
    padding: 1rem 0;
    width: 300px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(158, 0, 92, 0.5), 0 4px 12px rgba(59, 0, 153, 0.5); */
    background-color: #F1F1F1;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .textTiny{
    color: #140f28;
  }

  .textLarge{
    color:#140f28;
  }
  
  .cardHeader {
    padding: 0.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .textTiny {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .textDefault500 {
    color: #6b7280;
  }
  
  .textLarge {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .cardBody {
    overflow: visible;
    padding-top: 0.5rem;
  }
  
  .image {
    object-fit: cover;
    border-radius: 0.75rem;
  }

  @media screen and (max-width: 767px) {
    
  }
  